.explore-markets {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card-container {
  margin-top: 20px;
  display: flex;
    flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.market-card {
  border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
  width: 250px;
  background-color: #f9f9f9;
  }
.home-button-container {
  margin-top: 20px;
}
.home-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.home-button:hover {
  background-color: #0056b3;
}